.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* login screen */
.login-container {
  display: flex;
  /* flex-direction: column;
  align-items: center;
  padding: 50px; */
}

.login-form-container {
  /* margin-top: 20%; */
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 5px solid rgb(62, 53, 160);
  box-shadow: 0px 0px 5px 1px blue;
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.972);
  color: white;
}
.edit-form-container {
  /* margin-top: 20%; */
  width: 500px;
  margin: 0 auto;
  padding: 40px;
  border: 5px solid rgb(62, 53, 160);
  box-shadow: 0px 0px 5px 1px blue;
  border-radius: 5px;
  background-color: rgba(23, 23, 23, 0.972);
  color: white;
}

.login-form-inputs{
  display: flex;
  width: 50%;
  height: 25px;
  /* padding: 5px; */
  /* margin-bottom: 10px; */
  margin: 2em auto;
  border: 3px solid #031eec;
  border-radius: 3px;
}

.login-buttons {
  padding: 10px;
  background: #031eec;
  color: #fff;
  border: 1px solid rgb(253, 253, 253);
  border-radius: 3px;
  cursor: pointer;
}

.login-buttons:hover {
  background-color: rgb(64, 64, 64);
}

.login-buttons:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.login-error{
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgba(255, 0, 0, 0.2);
}
.carContainer{
  height: 75%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  overflow: auto;
  overflow-y: scroll;
  scroll-behavior: auto;
  flex-direction: column;
  max-width: 1200px;
  /* max-height: 700px; */
  border-style: dotted;
}

nav a {
  display: inline-block;
  margin: 1rem 2rem;
  text-decoration: none;
  text-shadow: -1px -1px 0 lightblue, 1px -1px 0 lightblue, -1px 1px 0 lightblue, 1px 1px 0 lightblue;
  font-size: 3em;
  color: darkblue;
  transition: 0.1s;

}


nav a:active {
  border-bottom: 2px solid tomato;
}

.checkboxes{
  /* text-align: left; */
}
.individual{
  text-align: right;
}





/* sign up page */


/* #firstColumn{
  width: 250px;
  float:left;
  border: 1px solid red;
} */

/* #secondColumn{
  border: 1px solid green;
  overflow: hidden;
} */
